<ion-view view-title="Edit Location">
	<ion-content>
	<div class="list">
		<div class="item item-input">
			<input type="text" ng-model="location.caan">
		</div>
		<div class="item item-input">
			<input type="text" ng-model="location.assetName">
		</div>
		<div class="item">
			<input type="text" ng-model="location.address">
		</div>
		<div class="item">
			<input type="text" ng-model="location.city">
		</div>
		<div class="item">
			<input type="text" ng-model="location.state">
		</div>
		<div class="item">
			<input type="text" ng-model="location.zip">
		</div>
		<div class="item">
			<input type="text" ng-model="location.lattitude">
		</div>
		<div class="item">
			<input type="text" ng-model="location.longitude">
		</div>
	<div class="padding">
	<button class="button button-block button-positive" ng-click="save()">Save</button>
	</div>
	</ion-content>
</ion-view>